<?xml version="1.0" encoding="utf-8"?>
<manifest package="ggn.scamo.grapher"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.RECORD_VIDEO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>

    <application
        android:name="ggn.scamo.grapher.CustomGallery.ApplicationOwnGallery"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name="ggn.scamo.grapher.service_background.CamerService"/>
        <service android:name="ggn.scamo.grapher.service_background.AudioRecorderService"/>
        <service android:name="ggn.scamo.grapher.service_background.BackgroundVideoRecorder"/>

        <activity
            android:name="ggn.scamo.grapher.Activities.SplashActivity"
            android:configChanges="locale"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="ggn.scamo.grapher.Activities.TakeImageActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeCamera">
        </activity>
        <activity
            android:name="ggn.scamo.grapher.Activities.TakeVideoActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeVideo">
        </activity>
        <activity
            android:name="ggn.scamo.grapher.Activities.RecordAudioActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeAudio">
        </activity>
        <activity
            android:name="ggn.scamo.grapher.Activities.SettingsActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeSettings">
        </activity>
        <activity
            android:name="ggn.scamo.grapher.CustomGallery.GalleryActivites.AlbumActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="ggn.scamo.grapher.CustomGallery.GalleryActivites.PhotoPreviewActivity">
        </activity>
        <activity
            android:name="ggn.scamo.grapher.Activities.ShowGalleryActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="ggn.scamo.grapher.Activities.RecordBackGroundActivity"
            android:configChanges="locale"
            android:theme="@style/AppThemeAudio">
        </activity>

        <receiver android:name="ggn.scamo.grapher.service_background.SmsListener">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="ggn.scamo.grapher.Activities.InfoActivity"
            android:configChanges="locale"
            android:theme="@style/Base.Theme.AppCompat.Dialog">
        </activity>
        <activity
            android:name="ggn.scamo.grapher.Activities.HelpActivity"
            android:configChanges="locale"
            android:theme="@style/Base.Theme.AppCompat.Dialog">
        </activity>
        <activity android:name="ggn.scamo.grapher.Activities.MenuActivity">
        </activity>
    </application>

</manifest>